[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-cors-headers = "*"
pipfile = "*"
pillow = "*"
django-allauth = "*"
django-autoslug = "*"
djangorestframework-simplejwt = "*"
django-googledrive-storage = "*"
pyjwt = "~=2.1.0"

[dev-packages]

[requires]
python_version = "3.8"
