/*---------Custom buttons---------------*/
/*------------input fields customisation-------------*/
.login_main {
  font-family: "Poppins", sans-serif !important;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 46em;
  -o-object-fit: contain;
     object-fit: contain;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: inherit;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
  /* fallback for old browsers */
  /* fallback for old browsers */
  background-image: -webkit-gradient(linear, right bottom, left top, from(#7e4892), color-stop(#c25389), color-stop(#ef7174), color-stop(#ff9f61), to(#f8d364));
  background-image: linear-gradient(to left top, #7e4892, #c25389, #ef7174, #ff9f61, #f8d364);
}

.login_main .login_parent {
  position: relative;
  overflow: hidden;
  width: 850px;
  height: 80%;
  border-radius: 20px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: #666565 5px 5px 20px;
          box-shadow: #666565 5px 5px 20px;
}

.login_main .login_child {
  text-align: center;
  line-height: 1.3em;
}

.login_main .login_child .head_container {
  position: relative;
  left: 100%;
  top: 0px;
}

.login_main .login_child .top_tag > p {
  top: -10px;
  font-size: 15px;
  font-weight: 500;
  color: #726c6c;
}

.login_main .login_child .top_tag > h2 {
  color: #6860d8;
}

.login_side_bar .login_side_p1 {
  width: 13em;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#985aaf), color-stop(#ec65a9), color-stop(#fd7881), color-stop(#ff944c), to(#f5c431));
  background-image: linear-gradient(to top, #985aaf, #ec65a9, #fd7881, #ff944c, #f5c431);
  height: 70vh;
  border-radius: 1000px;
  position: absolute;
  top: -26%;
  left: -8%;
  -webkit-transform: rotate(320deg);
          transform: rotate(320deg);
  border: 20px solid #dbd8d8;
}

.login_side_bar .login_side_p2 {
  position: absolute;
  width: 5em;
  height: 22vh;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#985aaf), color-stop(#ec65a9), color-stop(#fd7881), color-stop(#ff944c), to(#f5c431));
  background-image: linear-gradient(to top, #985aaf, #ec65a9, #fd7881, #ff944c, #f5c431);
  left: -4%;
  top: 58%;
  border-radius: 500px;
  -webkit-transform: rotate(320deg);
          transform: rotate(320deg);
}

.login_side_bar .login_side_p3 {
  position: absolute;
  width: 6em;
  height: 25vh;
  border-radius: 500px;
  top: 85%;
  left: 25%;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#f9cc64), color-stop(#ffa067), color-stop(#ff7882), color-stop(#e460a5), to(#a05fc1));
  background-image: linear-gradient(to right bottom, #f9cc64, #ffa067, #ff7882, #e460a5, #a05fc1);
  -webkit-transform: rotate(320deg);
          transform: rotate(320deg);
}

.login_side_bar .login_side_p4 {
  position: absolute;
  width: 6em;
  height: 22vh;
  background-color: red;
  -webkit-transform: rotate(320deg);
          transform: rotate(320deg);
  top: -15%;
  left: 18%;
  border-radius: 500px;
  background-image: -webkit-gradient(linear, right bottom, left top, from(#f5be40), color-stop(#ff904c), color-stop(#ff5d79), color-stop(#ff3eb5), to(#bb55f0));
  background-image: linear-gradient(to left top, #f5be40, #ff904c, #ff5d79, #ff3eb5, #bb55f0);
}

.mc_login_img-parent {
  position: relative;
}

.mc_login_img-parent img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.login_img-bg {
  position: relative;
  z-index: -1;
}

.svg-helper {
  position: absolute;
  top: 50%;
  z-index: 900;
  width: 100%;
  height: 10em;
}

.img_overlay-login {
  width: 0%;
  height: 13em;
  -webkit-transform: translateX(-30em);
          transform: translateX(-30em);
  position: absolute;
  -webkit-animation: overlay-effect 5s ease-in-out infinite;
          animation: overlay-effect 5s ease-in-out infinite;
}

@-webkit-keyframes overlay-effect {
  0% {
    background-image: -webkit-gradient(linear, right bottom, left top, from(#f5be40), color-stop(#ff904c), color-stop(#ff5d79), color-stop(#ff3eb5), to(#bb55f0));
    background-image: linear-gradient(to left top, #f5be40, #ff904c, #ff5d79, #ff3eb5, #bb55f0);
    opacity: 0.3;
    width: 10%;
  }
  10% {
    background-color: transparent;
    width: 30%;
  }
  20% {
    background-image: -webkit-gradient(linear, right bottom, left top, from(#f5be40), color-stop(#ff904c), color-stop(#ff5d79), color-stop(#ff3eb5), to(#bb55f0));
    background-image: linear-gradient(to left top, #f5be40, #ff904c, #ff5d79, #ff3eb5, #bb55f0);
    opacity: 0.5;
  }
  30% {
    background-image: -webkit-gradient(linear, right bottom, left top, from(#f5be40), color-stop(#ff904c), color-stop(#ff5d79), color-stop(#ff3eb5), to(#bb55f0));
    background-image: linear-gradient(to left top, #f5be40, #ff904c, #ff5d79, #ff3eb5, #bb55f0);
    opacity: 0.2;
    width: 70%;
  }
  40% {
    background-color: rgba(64, 90, 238, 0.3);
    width: 50%;
  }
  50% {
    background-color: rgba(131, 133, 123, 0.3);
    -webkit-transform: translateX(30em);
            transform: translateX(30em);
  }
  60% {
    background-color: rgba(212, 41, 155, 0.3);
    width: 50%;
  }
  70% {
    background-color: rgba(205, 236, 25, 0.3);
    width: 60%;
  }
  80% {
    background-image: -webkit-gradient(linear, right bottom, left top, from(#f5be40), color-stop(#ff904c), color-stop(#ff5d79), color-stop(#ff3eb5), to(#bb55f0));
    background-image: linear-gradient(to left top, #f5be40, #ff904c, #ff5d79, #ff3eb5, #bb55f0);
    opacity: 0.4;
    width: 80%;
  }
  90% {
    background-image: -webkit-gradient(linear, right bottom, left top, from(#f5be40), color-stop(#ff904c), color-stop(#ff5d79), color-stop(#ff3eb5), to(#bb55f0));
    background-image: linear-gradient(to left top, #f5be40, #ff904c, #ff5d79, #ff3eb5, #bb55f0);
    opacity: 0.4;
    width: 90%;
  }
  100% {
    background-image: -webkit-gradient(linear, right bottom, left top, from(#f5be40), color-stop(#ff904c), color-stop(#ff5d79), color-stop(#ff3eb5), to(#bb55f0));
    background-image: linear-gradient(to left top, #f5be40, #ff904c, #ff5d79, #ff3eb5, #bb55f0);
    opacity: 0.5;
    width: 100%;
  }
}

@keyframes overlay-effect {
  0% {
    background-image: -webkit-gradient(linear, right bottom, left top, from(#f5be40), color-stop(#ff904c), color-stop(#ff5d79), color-stop(#ff3eb5), to(#bb55f0));
    background-image: linear-gradient(to left top, #f5be40, #ff904c, #ff5d79, #ff3eb5, #bb55f0);
    opacity: 0.3;
    width: 10%;
  }
  10% {
    background-color: transparent;
    width: 30%;
  }
  20% {
    background-image: -webkit-gradient(linear, right bottom, left top, from(#f5be40), color-stop(#ff904c), color-stop(#ff5d79), color-stop(#ff3eb5), to(#bb55f0));
    background-image: linear-gradient(to left top, #f5be40, #ff904c, #ff5d79, #ff3eb5, #bb55f0);
    opacity: 0.5;
  }
  30% {
    background-image: -webkit-gradient(linear, right bottom, left top, from(#f5be40), color-stop(#ff904c), color-stop(#ff5d79), color-stop(#ff3eb5), to(#bb55f0));
    background-image: linear-gradient(to left top, #f5be40, #ff904c, #ff5d79, #ff3eb5, #bb55f0);
    opacity: 0.2;
    width: 70%;
  }
  40% {
    background-color: rgba(64, 90, 238, 0.3);
    width: 50%;
  }
  50% {
    background-color: rgba(131, 133, 123, 0.3);
    -webkit-transform: translateX(30em);
            transform: translateX(30em);
  }
  60% {
    background-color: rgba(212, 41, 155, 0.3);
    width: 50%;
  }
  70% {
    background-color: rgba(205, 236, 25, 0.3);
    width: 60%;
  }
  80% {
    background-image: -webkit-gradient(linear, right bottom, left top, from(#f5be40), color-stop(#ff904c), color-stop(#ff5d79), color-stop(#ff3eb5), to(#bb55f0));
    background-image: linear-gradient(to left top, #f5be40, #ff904c, #ff5d79, #ff3eb5, #bb55f0);
    opacity: 0.4;
    width: 80%;
  }
  90% {
    background-image: -webkit-gradient(linear, right bottom, left top, from(#f5be40), color-stop(#ff904c), color-stop(#ff5d79), color-stop(#ff3eb5), to(#bb55f0));
    background-image: linear-gradient(to left top, #f5be40, #ff904c, #ff5d79, #ff3eb5, #bb55f0);
    opacity: 0.4;
    width: 90%;
  }
  100% {
    background-image: -webkit-gradient(linear, right bottom, left top, from(#f5be40), color-stop(#ff904c), color-stop(#ff5d79), color-stop(#ff3eb5), to(#bb55f0));
    background-image: linear-gradient(to left top, #f5be40, #ff904c, #ff5d79, #ff3eb5, #bb55f0);
    opacity: 0.5;
    width: 100%;
  }
}

.mv-login-img-main {
  width: 2em;
  position: absolute;
  height: 2em;
  background-color: white;
  opacity: 0.9;
  padding: 1px;
  z-index: 900;
  border-radius: 50%;
  top: 2%;
  left: 3%;
}

.mv-login-img-main img {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.mv-login-logo-img {
  position: absolute;
  top: 2%;
  z-index: 999;
}

.mv_login_main {
  font-family: "Poppins", sans-serif !important;
  overflow: hidden;
}

.mv-login-logo-head {
  position: absolute;
  top: 1%;
  left: 15%;
  color: white;
  font-size: 1px;
}

.mv-login-form-main {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: -3em;
  z-index: 900;
}

.mv-login-form-main .mv-login-form-parent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.mv-login-form-main .mv-login-form-parent .mv-login-heading {
  color: #5a3ddf;
}

.mv_loader {
  visibility: hidden;
}

.form_main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 19em;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form_main div {
  margin: 4px;
}

.termsandcondition {
  position: relative;
  font-size: 14px;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: gray;
}

.login-main-via {
  color: gray;
}

.terms_condition_link {
  color: #388be9;
  font-size: 14px;
}

.button_main {
  width: 95%;
  -webkit-transform: translate(3%, -90%);
          transform: translate(3%, -90%);
}

.button_main .login_btn {
  border-radius: 5em !important;
  width: 100% !important;
  background-color: "primary" !important;
  font-weight: 600;
  font-size: 14px !important;
  text-transform: capitalize !important;
}

.login_bottom_main {
  font-size: 13px;
  margin-top: -1.5rem;
  font-weight: 600;
  color: #c25389;
  top: 0;
  width: 100%;
}

.login_bottom_main .social_acc {
  margin-top: -1em;
}

.login_bottom_main .login_to_signup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 2em;
}

.forms_content1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mv_indicator {
  position: absolute;
  left: 92%;
  color: #2e2ef0;
}

.mv_crct_icn {
  margin-left: 0.5rem;
}

@media only screen and (max-width: 335px) {
  .mv-login-form-main {
    margin-top: -2em;
  }
}

@media only screen and (min-width: 425px) {
  .svg-img {
    height: 250px;
    width: 2000px;
    -webkit-transform: translate(-5em, -2em);
            transform: translate(-5em, -2em);
  }
  .img_overlay-login {
    height: 18em;
  }
}

@media only screen and (min-width: 550px) {
  .svg-img {
    height: 300px;
    width: 2000px;
    -webkit-transform: translate(-5em, -2em);
            transform: translate(-5em, -2em);
  }
  .mv-login-form-main {
    margin-top: -6em;
  }
}

@media only screen and (max-width: 885px) {
  .login_main .login_parent {
    position: relative;
    width: 800px;
    height: 480px;
  }
}

@media only screen and (max-width: 800px) {
  .login_main .login_parent {
    position: relative;
    width: 700px;
    height: 480px;
  }
  .login_main .login_parent .login_side_p4 {
    display: none;
  }
  .login_main .login_parent .head_container {
    left: 90%;
    top: -15px;
  }
}

@media only screen and (max-width: 800px) {
  .login_main .login_parent {
    width: 650px;
    height: 480px;
  }
  .login_main .login_parent .login_side_p4 {
    display: none;
  }
  .login_main .login_parent .head_container {
    left: 80%;
    top: -15px;
  }
}

@media only screen and (max-width: 650px) {
  .login_main .login_parent {
    width: 550px;
    height: 480px;
  }
  .login_main .login_parent .login_side_p4 {
    display: none;
  }
  .login_main .login_parent .head_container {
    left: 80%;
    top: -15px;
  }
}

@media only screen and (max-width: 610px) {
  .termsandcondition {
    -webkit-transform: translate(-8%, -40%);
            transform: translate(-8%, -40%);
  }
  .button_main {
    -webkit-transform: translate(1%, -90%);
            transform: translate(1%, -90%);
    width: 93%;
  }
  .login_main {
    display: none;
  }
  .mobile_view_display {
    display: block;
  }
}

@media only screen and (min-width: 610px) {
  .login_main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .termsandcondition {
    -webkit-transform: translate(8%, -40%);
            transform: translate(8%, -40%);
  }
  .mv_login_main {
    display: none;
  }
}
/*# sourceMappingURL=Login.css.map */